*{
    color: black;
}

body {
    margin: 0;
}

#sidebar {
    margin: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#canvas {
    width: 700px;
    height: 700px;
    padding: 10px;
    position: absolute;
    right: 120px;
    top: 105px;
    z-index: 950;
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 900;
}

#container > div {
    background-color: antiquewhite;
}