body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 3px;
}

#container {
    width: 960px;
    height: 960px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#container > div {
    background-color: aqua;
    width: 55px;
    height: 55px;
    border: 1px solid black;
}